@media only screen and (min-width: 375px) and (max-width: 414px) and (orientation: portrait) {
  .logoTransparent {
    height: 160px;
    width: 292px;
    top: 31%;
    border: 12px solid #0fddea96;
  }
  .scrollBg {
    height: 766px;
    padding: 20px 20px;
    margin-top: -220px;
  }
  .menuContainer img {
    width: 55px;
  }
  .menuWord {
    font-size: 32px;
  }
  .flexMenuContainer {
    flex-wrap: wrap;
  }
  .flexItems {
    padding: 0 2%;
  }
  .flexItems h1 {
    font-size: 36px;
    text-align: center;
  }
  .flexItems h2 {
    font-size: 20px;
    text-align: center;
    margin: 3px 0 7px 0;
  }
  .flexItems p {
    font-size: 16px;
    letter-spacing: 0px;
    text-align: justify;
    margin-bottom: 40px;
  }
  .typeSection {
    top: 10%;
    left: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-height: 300px;
    width: 286px;
  }
  .typing {
    width: 300px;
  }
  .typing h3 {
    display: block;
    margin: 0 auto 20px auto;
    padding: 0;
    position: relative;
    right: 6%;
    font-size: 35px;
    width: 220px;
    -webkit-text-stroke: 2px #b0ec22;
  }
  .typing p {
    padding: 0;
    display: block;
    margin: 0 auto 15px auto;
    width: 240px;
    position: relative;
    right: 6%;
    font-size: 16px;
    -webkit-text-stroke: 0.5px #2c2c2c;
  }
  #imageHolder {
    top: 12.5%;
    left: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 240px;
    width: 240px;
  }
  .slide {
    left: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .slideImage1 {
    height: 240px;
    width: 240px;
    top: -14%;
    background-position: 0 -85px;
  }
  .slideImage2 {
    height: 240px;
    width: 240px;
    top: -40.8%;
    background-position: 0 -55px;
  }
  .slideImage3 {
    height: 240px;
    width: 240px;
    top: -67.5%;
    background-position: -50px 0;
  }
  .recentlyContainer {
    left: 30%;
    top: 4%;
  }
  .recentlyContainer img {
    width: 55px;
  }
  .recentlyWord {
    font-size: 32px;
  }
  .flexRecentlyContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flexImagesLink {
    margin: 4% 27%;
    border: 2px solid #973cdf;
  }
  .flexImagesLink div {
    height: 150px;
    width: 150px;
  }
  .fadeInTitleSection {
    -webkit-text-stroke: 0.9px #b0ec22;
    font-size: 18px;
    transform: translateY(9vh);
  }
  .gridServicesContainer {
    grid-template-columns: 1fr;
    top: 12%;
    padding: 0;
  }
  .gridServicesContainer div {
    padding: 14px;
    margin: 0 30px;
  }
  .gridServicesContainer div img {
    width: 24px;
  }
  .gridServicesContainer h3 {
    margin: 5px 0 7px 0;
    font-size: 14px;
  }
  .gridServicesContainer p {
    letter-spacing: 0.5px;
    font-size: 12px;
  }
  .contactsContainer {
    left: 10%;
    top: 21%;
  }
  .contactsWord {
    font-size: 32px;
    letter-spacing: 3px;
    margin-bottom: 34px;
  }
  .flexContactsContainer {
    width: 320px;
  }
  .firstSpan {
    width: 114px;
  }
  .firstSpan p {
    font-size: 18px;
    margin: 7px 0;
    padding: 0;
  }
  .secondSpan {
    width: 64px;
  }
  .secondSpan div {
    height: 24px;
    width: 24px;
    margin: auto;
  }
  .thirdSpan {
    width: 140px;
  }
  .thirdSpan a {
    font-size: 15px;
    margin: 5px 0 5px 10px;
  }
  .copyright {
    top: 344px;
    font-size: 11px;
    letter-spacing: 1px;
  }
}
